In [1]:
# Here's some new strange stuff, remember type it exactly

In [2]:
days = "Mon Tue Wed Thu Fri Sat Sun"

In [3]:
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

In [4]:
print months

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [5]:
print days

Mon Tue Wed Thu Fri Sat Sun

In [6]:
print "Here are the days: ", days

Here are the days:  Mon Tue Wed Thu Fri Sat Sun

In [7]:
print "Here are the months: ", months

Here are the months:  Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [8]:
print """
There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5 or 6.
"""

There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5 or 6.

In [12]:
print "Months value %s" % months

Months value Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [13]:
print "Months value %r" % months

Months value 'Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug'

In [14]:
print '''
You can do something with the doc
string within the use of 3 single quotes as well.
Great work and fun learning somethings new everytime
'''

You can do something with the doc
string within the use of 3 single quotes as well.
Great work and fun learning somethings new everytime

In [15]:
print "I am 6'2\" tall."

I am 6'2" tall.

In [16]:
print 'I am 6\'2" tall.'

I am 6'2" tall.

In [17]:
# Another way of doing this is using triple quotes.

In [18]:
print """I am 6'2" tall."""

I am 6'2" tall.

In [19]:
print '''I am 6'2" tall.'''

I am 6'2" tall.